*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    
}

.titulo_carrusel{
    font-size: 40px;
    font-family:'Pacifico', cursive;
    margin-bottom: 40px;
    color: rgb(8, 8, 58);
}
.subTitulo_carrusel{
    margin: 0;
    color: #000;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.Titusabor_carrusel{
    margin: 7px 0;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family:'Shantell Sans', cursive;
    margin-top: 0;
}
.linea_div_carrusel{
    width: 80%;
    height: 2px;
    background-color: #36221c;
    text-align: center;
}
.carousel{
    min-height: 400px;
}
 
.carousel .carousel-item{
    display: flex;
    flex-direction: column; /*Elementos uno debajo de otro*/
    justify-content:center ;
    align-items: center;
    user-select: none;   /*Para no sleccionar los textos*/
    
    width: 400px;
    height: 400px;
}
.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*Para acmodar la imagen en tamaño*/
    position: absolute; /*Para poner de fondo la imagen*/
    top: 0;
    left: 0; /*Para acomodar la imagen en las cordenadas 0,0 en la parte superiior d ela izquierda*/
    z-index: -1; /*Para poner asta tras de las letras la imagen*/
    border-radius: 20px;
}

/* .carousel .indicators .indicators-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
} */
