body{
    text-align: center;
}
h1{
    /* display:inline-block; -->> Para enajonar el texto de manera justa 
       display:block;        -->> De esta manera se prolonga el background asta topar */
    
    display:inline-block;
    position: relative;
    color: black;
}
h1::after, h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: currentColor;
    top:0.6em;   
    /* top:0.6em;   --->> para bajar las barras y centrarlas a la mitad como un guion */
    /* background-color: currentColor;  --->>> Para poder cambier en color dependiendo el color del texto. */
}
h1::before{
    left: -140px;
}
h1::after{
    right: -140px;
}