*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 300;
}
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed; /*Posicion fija*/
    z-index: -1;
}