*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
} 


.titulo_carrusel{
    font-size: 40px;
    font-family:'Pacifico', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(15, 13, 13);
}  
.subTitulo_carrusel{
    margin: 0;
    color: #ffffff;
    display: inline;
    font-size: 40px;
    font-family:'Pacifico', cursive;
    font-weight: 500;
    text-transform: uppercase;
}
.Titusabor_carrusel{
    margin: 7px 0;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    /* text-shadow: 2px 2px 1px rgba(236, 230, 230, 0.957);
    font-family:'Pacifico', cursive; */
    margin-top: 10px;
}
.titu_carru_2{
    font-size: 10px;
    color: #ffffff;
    margin: 10px;
    text-align: justify;
}
.linea_div_carrusel{
    width: 80%;
    height: 2px;
    background-color: #f7efed;
    text-align: center;
    margin-top: 22px;
}
.carousel{
    min-height: 300px;
    
    margin-bottom: -30px;
}
.carousel .carousel-item{
    display: flex;
    flex-direction: column; /*Elementos uno debajo de otro*/
    justify-content:center ;
    align-items: center;
    user-select: none;   /*Para no sleccionar los textos*/
    
    width: 400px;
    height: 280px;
}
.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*Para acmodar la imagen en tamaño*/
    position: absolute; /*Para poner de fondo la imagen*/
    top: 0;
    left: 0; /*Para acomodar la imagen en las cordenadas 0,0 en la parte superiior d ela izquierda*/
    z-index: -1; /*Para poner asta tras de las letras la imagen*/
    border-radius: 20px;
}

.carousel .indicators .indicators-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
}


/* ------------------------------------------------------------------------------------------- */
/* 
.wrapper{
    display: block;
    justify-content: center;
    
    padding: 70px 0;
    max-width: 400px;
    margin: 0 auto;
}
.menu, .content{
    width: 100%;
}
select{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    border: 4px solid #3f51b5;
    box-shadow: 0 15px 15px #efefef;
    appearance: none;
    background: #e8eaf6;
    background-position: 95% 55%;
    background-size: 22px;
}
.content{
    margin: 30px 0;
}
.content .data{
    padding: 25px;
    background-color: #fff;
    border: 2px solid #8bc34a;
    border-radius: 8px;
}
.content p{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}
.content p:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.content p b{
    font-weight: 700;
}
.content p span{
    float: right;
    font-weight: normal;
}
.content .imagen img{
    text-align: center;
    width: 150px;
}
.data{
    display: none;
} */
